/* resetar estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #000000;
    /* color: #ffffff; */
}

.productsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 1rem;
}

header {
    padding: 1rem;
    text-align: center;
    background-color: #1e293b;
    color: #f8fafc;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
}

